{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img"
                 src="{{ url_for('static', filename='profile_pics/' + user.profilePicture) }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            {% if user == current_user %}
                <div class="row m-1">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('users.update_profile') }}">Edit Profile</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}